<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.util.Map" alias="Map"/>
	<!-- 병웅 11~20 -->
		<typeAlias type="com.gdj68.mapblog.admin.member.AdminMemberDTO" alias="AdminMemberDTO"/>
		
		<typeAlias type="com.gdj68.mapblog.admin.user.AdminUserFileDTO" alias="AdminUserFileDTO"/>
		<typeAlias type="com.gdj68.mapblog.admin.member.RoleDTO" alias="RoleDTO"/>
	
	
	
	
	
	<!-- 혜령 21~30-->
	<typeAlias type="com.gdj68.mapblog.feed.FeedDTO" alias="FeedDTO"/>
	<typeAlias type="com.gdj68.mapblog.feed.FeedFileDTO" alias="FeedFileDTO"/>
	<typeAlias type="com.gdj68.mapblog.feed.FeedCommentDTO" alias="FeedCommentDTO"/>
	<typeAlias type="com.gdj68.mapblog.feed.FeedCommentLikesDTO" alias="FeedCommentLikesDTO"/>
	<typeAlias type="com.gdj68.mapblog.feed.ConfirmFollowDTO" alias="ConfirmFollowDTO"/>
	<typeAlias type="com.gdj68.mapblog.feed.LikesDTO" alias="LikesDTO"/>
	<typeAlias type="java.lang.Integer" alias="Integer"/>	
	<typeAlias type="java.lang.String" alias="String"/>
	<typeAlias type="com.gdj68.mapblog.feed.IgnoreDTO" alias="IgnoreDTO2"/>
	<!-- 홍일 31~40 -->
	<typeAlias type="com.gdj68.mapblog.member.MemberDTO" alias="MemberDTO"/>
	<typeAlias type="com.gdj68.mapblog.member.MemberFileDTO" alias="MemberFileDTO"/>
	<typeAlias type="com.gdj68.mapblog.file.FileDTO" alias="FileDTO"/>
	<typeAlias type="com.gdj68.mapblog.member.MemberSearchDTO" alias="MemberSearchDTO"/>
	<typeAlias type="com.gdj68.mapblog.member.IgnoreDTO" alias="IgnoreDTO"/>
	<typeAlias type="com.gdj68.mapblog.member.AgreeDTO" alias="AgreeDTO"/>
	
	
	
	<!-- 재혁 41~50 -->
	<typeAlias type="com.gdj68.mapblog.qna.QnaDTO" alias="QnaDTO"/>
	<typeAlias type="com.gdj68.mapblog.util.Pager" alias="Pager"/>
	<typeAlias type="com.gdj68.mapblog.qna.QnaFileDTO" alias="QnaFileDTO"/>
	<typeAlias type="com.gdj68.mapblog.notice.NoticeDTO" alias="NoticeDTO"/>
	<typeAlias type="com.gdj68.mapblog.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
	<typeAlias type="com.gdj68.mapblog.follow.FollowDTO" alias="FollowDTO"/>
	<typeAlias type="com.gdj68.mapblog.qna.qnaComment.QnaCommentDTO" alias="QnaCommentDTO"/>
	
	
	<!-- 동휘 51~60 -->
	<typeAlias type="com.gdj68.mapblog.meeting.MeetingDTO" alias="MeetingDTO"/>	
	<typeAlias type="com.gdj68.mapblog.meeting.MeetingMemberDTO" alias="MeetingMemberDTO"/>	
	<typeAlias type="com.gdj68.mapblog.meeting.MeetingCommentDTO" alias="MeetingCommentDTO"/>	
	<typeAlias type="com.gdj68.mapblog.meeting.MeetingReplyDTO" alias="MeetingReplyDTO"/>
	</typeAliases>
	
</configuration>				  