<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.util.Map" alias="Map"/>
	<!-- 병웅 11~20 -->
	
	
	
	
	
	
	
	
	
	<!-- 혜령 21~30-->
	
	
	
	
	
	
	
	
	
	<!-- 홍일 31~40 -->
	
	
	
	
	
	
	
	
	
	<!-- 재혁 41~50 -->
	<typeAlias type="com.gdj68.mapblog.qna.QnaDTO" alias="QnaDTO"/>
	<typeAlias type="com.gdj68.mapblog.util.Pager" alias="Pager"/>
	
	
	
	
	
	
	
	<!-- 동휘 51~60 -->	
	
	</typeAliases>
	
</configuration>				  