<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gdj68.mapblog.meeting.MeetingDAO">
  	
  	<insert id="setAdd" parameterType="MeetingDTO">
  		<selectKey keyProperty="meetingNum" resultType="Long" order="BEFORE">
  			SELECT MEETING_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO MEETING VALUES(#{meetingNum},#{id},#{title},#{contents},SYSDATE,to_date(#{meetingDate},'YYYY-MM-DD HH24:MI'),#{lat},#{lng},0,0,#{personnel},#{nickName},#{address})	
  	</insert>
  	
  	<select id="getList" resultType="MeetingDTO">
  		SELECT * FROM MEETING WHERE MEETINGDATE > SYSDATE
  	</select>

  	<select id="getDetail" parameterType="MeetingDTO" resultType="MeetingDTO">
  		SELECT * FROM MEETING WHERE MEETINGNUM = #{meetingNum}
  	</select>
  	
  	<insert id="setMeetingJoin" parameterType="MeetingMemberDTO">
  		INSERT INTO MEETINGMEMBER VALUES(MEETINGMEMBER_SEQ.NEXTVAL,#{meetingNum},#{id},#{nickName})
  	</insert>  	
  	
  	<select id="getJoinCheck" parameterType="MeetingMemberDTO" resultType="Long">
  		SELECT COUNT(*) FROM MEETINGMEMBER WHERE ID = #{id} AND MEETINGNUM=#{meetingNum}
  	</select>
  	
  	<delete id="setMeetingQuit" parameterType="MeetingMemberDTO">
  		DELETE MEETINGMEMBER WHERE ID = #{id} AND MEETINGNUM = #{meetingNum}
  	</delete>
  	
  	<delete id="setMeetingDelete" parameterType="MeetingDTO">
  		DELETE MEETING WHERE ID = #{id} AND MEETINGNUM = #{meetingNum}
  	</delete>
  	
  	<delete id="setMeetingDeleteAdmin" parameterType="MeetingDTO">
  		DELETE MEETING WHERE MEETINGNUM = #{meetingNum}
  	</delete>
  	
  	<update id="setUpdate">
  		UPDATE MEETING SET TITLE=#{title}, CONTENTS=#{contents},MEETINGDATE=to_date(#{meetingDate},'YYYY-MM-DD HH24:MI'),LAT=#{lat},LNG=#{lng},PERSONNEL=#{personnel},ADDRESS=#{address} WHERE MEETINGNUM=#{meetingNum}
  	</update>
  	
  	<select id="getPersonnelCheck" parameterType="MeetingMemberDTO" resultType="Long">
  		SELECT COUNT(*) FROM MEETINGMEMBER WHERE MEETINGNUM=#{meetingNum}
  	</select>
  	
  	<select id="getMyList" parameterType="MeetingMemberDTO" resultType="MeetingDTO">
  		SELECT m.* 
		FROM MEETING m 
		INNER JOIN MEETINGMEMBER mb
		ON m.meetingnum = mb.meetingnum
		WHERE mb.id = #{id} AND M.MEETINGDATE > SYSDATE
  	</select>
  	
  	<insert id="setAddComment" parameterType="MeetingCommentDTO">
  		INSERT INTO MEETINGCOMMENT VALUES (MEETINGCOMMENT_SEQ.NEXTVAL,#{meetingNum},#{id},#{contents},SYSDATE,0,0,0,#{nickName})
  	</insert>
  	
  	<select id="getCommentList" parameterType="MeetingCommentDTO" resultType="MeetingCommentDTO">
  		SELECT * FROM MEETINGCOMMENT
  		WHERE MEETINGNUM = #{meetingNum}
  		ORDER BY COMMENTNUM DESC, CGROUP DESC
  	</select>
  	
  	<delete id="setDeleteComment" parameterType="MeetingCommentDTO">
  		DELETE MEETINGCOMMENT WHERE COMMENTNUM = #{commentNum}
  	</delete>
  	
  	<update id="setUpdateComment">
  		UPDATE MEETINGCOMMENT SET CONTENTS=#{contents} WHERE COMMENTNUM=#{commentNum}
  	</update>
  	
  	<insert id="setReplyCommentAdd" parameterType="MeetingReplyDTO">
  		INSERT INTO MEETINGREPLY VALUES (MEETINGREPLY_SEQ.NEXTVAL,#{meetingNum},#{id},#{commentNum},#{contents},SYSDATE,0,#{commentNum},1,#{nickName})
  	</insert>
  	
  	 <update id="setUpdateCommentCgroup" parameterType="MeetingReplyDTO">
  		UPDATE MEETINGCOMMENT SET CGROUP= CGROUP+1 WHERE COMMENTNUM=#{commentNum}
  	</update>
  	
  	 <update id="setUpdateCommentCgroupDelete" parameterType="MeetingReplyDTO">
  		UPDATE MEETINGCOMMENT SET CGROUP= CGROUP-1 WHERE COMMENTNUM=#{commentNum}
  	</update>
  	
  	<select id="getReplyCommentList" resultType="MeetingReplyDTO">
  		SELECT * FROM MEETINGREPLY WHERE COMMENTNUM = #{commentNum} ORDER BY COMMENTDATE
  	</select>
  	
  	<select id="getPersonnelList" resultType="MeetingMemberDTO">
  		SELECT * FROM MEETINGMEMBER WHERE MEETINGNUM = #{meetingNum} ORDER BY MEETINGMEMBERNUM
  	</select>
  	
  	 <update id="setUpdateReplyComment" parameterType="MeetingReplyDTO">
  		UPDATE MEETINGREPLY SET CONTENTS = #{contents} WHERE REPLYNUM=#{replyNum}
  	</update>
  	
  	<delete id="setDeleteReplyComment" parameterType="MeetingReplyDTO">
  		DELETE MEETINGREPLY WHERE REPLYNUM = #{replyNum}
  	</delete>
  	
  </mapper>