<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gdj68.mapblog.member.MemberDAO">
  	
  	<delete id="deleteMember" parameterType="MemberDTO">
		DELETE FROM MEMBER WHERE ID=#{id}  	
  	</delete>
  	
  	<insert id="setJoin" parameterType="MemberDTO">
  		INSERT INTO MEMBER (ID, PW, NAME, NICKNAME, EMAIL, PHONE, BIRTH, URL, CREATEDATE, PUBLICS)
  		VALUES (#{id}, #{pw}, #{name}, #{nickName}, #{email}, #{phone}, #{birth}, #{url}, SYSDATE, #{publics})
  	</insert>
  	
  	<select id="getLogin" resultType="MemberDTO" parameterType="MemberDTO">
  		SELECT * FROM MEMBER
  		WHERE ID=#{id} AND PW=#{pw}
  	</select>
  	
  	<update id="setMemberUpdate" parameterType="MemberDTO">
		UPDATE MEMBER SET
		PW=#{pw}, NAME=#{name}, PHONE=#{phone}, BIRTH=#{birth}, PUBLICS=#{publics}
		WHERE ID=#{id}
	</update>
	
	 <select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT ID FROM MEMBER WHERE ID=#{id}
  	</select>
  	
  	<select id="getUrlCheck" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT URL FROM MEMBER WHERE URL=#{url}
  	</select>
  	
  	<select id="getNickNameCheck" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT NICKNAME FROM MEMBER WHERE NICKNAME=#{nickName}
  	</select>
  	
  	<select id="findIdPw" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT ID, PW FROM MEMBER WHERE EMAIL=#{email}
  	</select>
  	
  	<insert id="setFileAdd" parameterType="MemberFileDTO">
		INSERT INTO PROFILEIMG (FILENUM, ID, FILENAME, ORIGINALNAME)
		VALUES (PROFILEIMG_SEQ.NEXTVAL, #{id}, #{fileName}, #{originalName})
	</insert>
	
	<select id="getMemberFile" resultType="MemberFileDTO" parameterType="MemberDTO">
  		SELECT * FROM PROFILEIMG
  		WHERE ID=#{id}
  	</select>
  	
   	<delete id="deleteMemberFile" parameterType="FileDTO">
		DELETE FROM PROFILEIMG WHERE FILENUM=#{fileNum}  	
  	</delete>
  	
  	<select id="searchMember" resultType="MemberDTO" parameterType="MemberSearchDTO">
  		SELECT NICKNAME FROM MEMBER 
  		WHERE NICKNAME LIKE '%'||#{keyword}||'%' AND PUBLICS != 0 AND NICKNAME NOT IN (
  			SELECT IGNORED FROM IGNORE WHERE IGNORING = #{nickName}
  		)
  	</select>
  	
  	 <select id="searchMember2" resultType="MemberDTO" parameterType="MemberSearchDTO">
  		SELECT NICKNAME FROM MEMBER 
  		WHERE NICKNAME LIKE '%'||#{keyword}||'%' AND PUBLICS != 0 AND NICKNAME IN (
  			SELECT IGNORED FROM IGNORE WHERE IGNORING = #{nickName}
  		)
  	</select>
  	
  	 <select id="didYouIgnore" resultType="IgnoreDTO" parameterType="MemberDTO">
  		SELECT IGNORED FROM IGNORE 
  		WHERE IGNORING = #{nickName}
  	</select>
  	
  	<delete id="ignoreCancle" parameterType="IgnoreDTO">
		DELETE FROM IGNORE WHERE IGNORING=#{ignoring} AND IGNORED=#{ignored}  	
  	</delete>
  	
   	<insert id="ignore" parameterType="IgnoreDTO">
  		INSERT INTO IGNORE (IGNORENUM, IGNORING, IGNORED)
  		VALUES (IGNORE_SEQ.NEXTVAL, #{ignoring}, #{ignored})
  	</insert>
  	
  	<insert id="setAgree" parameterType="AgreeDTO">
  		INSERT INTO AGREE (ID, AGREE1, AGREE2)
  		VALUES (#{id}, #{agree1}, #{agree2})
  	</insert>
  </mapper>